# Ignore everything by default
*

# Allow folders recursively
!*/

# Allow code and docs recursively
!**/*.c
!**/*.h
!**/*.hpp
!**/*.cpp
!**/*.py
!**/*.txt
!**/*.pdf
!**/*.md
!**/*.gitignore
!**/*.jpeg
!**/*.png
!**/*.PNG
!**/*.csv
!**/*.toml
!**/*.uv.lock
!**/*.xlsx
!**/*.tif
!**/*.zip

# Ignore compiled binaries
*.out
*.exe
*.o

# Ignore VS Code settings
.vscode/

# Ignore system files
*.DS_Store

# Ignore Windows Zone.Identifier streams
*:*Zone.Identifier
